<section class="container-fluid">
  <section class="row">
    <div class="col s12">
      <nav class="nav-extended">
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a routerLinkActive="active" routerLink="defectoconfeccion">Defectos</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="operacionconfeccion">Operaciones</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="areaconfeccion">Área</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="plantas">Plantas</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="auditoriaconfeccion">Auditoría Conf.</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="auditoriaconfeccion-consulta">Auditoría Conf. Cons.</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  <section class="row">
    <div class="col s12">
      <router-outlet></router-outlet>
    </div>
  </section>
</section>
