<div class="card-panel">

  <div class="row" style="text-align: right">
    <div class="col s12">
      <button class="btn waves-effect waves-light red lighten-2" [routerLink]="['/home']">Regresar
        <i class="material-icons left">arrow_back</i>
      </button>
      &nbsp;&nbsp;
      <button (click)="openModalAgregar()" class="btn tooltipped"
              data-position="bottom" data-tooltip="Agrega una nueva auditoria de corte"
              type="button" name="btnAddAuditoria">Agregar
        <i class="material-icons right">add</i>
      </button>
    </div>
  </div>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s3">
          <i class="material-icons prefix">font_download</i>
          <input id="CLAVE_CORTADOR" type="text" class="validate">
          <label for="CLAVE_CORTADOR">Clave</label>
        </div>
        <div class="col s9" style="text-align: right">
          <button (click)="obtenerAuditorias()" class="btn tooltipped" type="button"
                  data-tooltip="Busca los cortes de auditoria" name="btnSearchCortadores">Buscar
            <i class="material-icons right">search</i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <table mat-table [dataSource]="dataSourceWIP" class="mat-elevation-z8">
            <!-- Corte Column -->
            <ng-container matColumnDef="Corte">
              <th mat-header-cell *matHeaderCellDef> Corte</th>
              <td mat-cell *matCellDef="let element"> {{element.OT}} </td>
            </ng-container>

            <!-- Cliente Column -->
            <ng-container matColumnDef="Cliente">
              <th mat-header-cell *matHeaderCellDef>Cliente</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{element.Cliente}}
                <!--<a class=" btn  modal-trigger" data-target="modalEditDefectoTerminado"-->
                <!--matTooltip="Edita el defecto  seleccionado">-->
                <!--&lt;!&ndash;(click)="getInfoDefectoTerminado(defecto.ID)">&ndash;&gt;-->
                <!--<i class="material-icons right">edit</i>-->
                <!--</a>-->
              </td>
            </ng-container>

            <!-- Marca Column -->
            <ng-container matColumnDef="Marca">
              <th mat-header-cell *matHeaderCellDef>Marca</th>
              <td mat-cell *matCellDef="let element; let i = index"> {{element.Marca}} </td>
            </ng-container>

            <!-- PO Column -->
            <ng-container matColumnDef="PO">
              <th mat-header-cell *matHeaderCellDef> PO</th>
              <td mat-cell *matCellDef="let element"> {{element.PO}} </td>
            </ng-container>


            <!-- Cortadasa Column -->
            <ng-container matColumnDef="Cortadas">
              <th mat-header-cell *matHeaderCellDef> Cant. Cortada</th>
              <td mat-cell *matCellDef="let element"> {{element.Corte}} </td>
            </ng-container>

            <!-- Fecha Inicio Column -->
            <ng-container matColumnDef="Fecha Inicio">
              <th mat-header-cell *matHeaderCellDef> Fecha Inicio</th>
              <td mat-cell *matCellDef="let element"> {{element.Fecha_i | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <!-- Fecha fin de trabajo Column -->
            <ng-container matColumnDef="Fecha fin">
              <th mat-header-cell *matHeaderCellDef> Fecha fin</th>
              <td mat-cell *matCellDef="let element">
                {{element.Fecha_f === '0001-01-01T00:00:00' ? '' : element.Fecha_f | date: 'dd/MM/yyyy'}}
              </td>
            </ng-container>

            <!-- Composturas-->
            <ng-container matColumnDef="Defectos">
              <th mat-header-cell *matHeaderCellDef> Defectos</th>
              <td mat-cell *matCellDef="let element"
                  matTooltip="Doble click para ver detalle"
                  (dblclick)="openModalDetalle(element)"> {{element.pzas_r | numberFormat}} </td>
            </ng-container>

            <!-- 2das terminado Column-->
            <ng-container matColumnDef="2das">
              <th mat-header-cell *matHeaderCellDef> Sgdas. Term.</th>
              <td mat-cell *matCellDef="let element"> {{element.pzas_2 | numberFormat}} </td>
            </ng-container>

            <!-- Area Column-->
            <ng-container matColumnDef="Area">
              <th mat-header-cell *matHeaderCellDef> Área</th>
              <td mat-cell *matCellDef="let element"> {{element.Auditoria | numberFormat}} </td>
            </ng-container>

            <!-- Status Finales Column -->
            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> Status</th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <!-- Opciones Column -->
            <ng-container matColumnDef="Opciones">
              <th mat-header-cell *matHeaderCellDef class="alinear-der"></th>
              <td mat-cell *matCellDef="let element" class="alinear-der">
                <button type="button" name="btnAddCortador"
                        class="btn light-blue darken-4 modal-trigger mr-3"
                        data-target="modalEditAuditoria"
                        matTooltip="Editar"
                        (click)="openModalEditar(element)">
                  <i class="material-icons center">edit</i>
                </button>
                <button type="button" name="btnAddCortador"
                        class="btn red darken-4 "
                        matTooltip="Eliminar"
                        (click)="eliminarAuditoria(element)">
                  <i class="material-icons center">delete_forever</i>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsWIP"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsWIP;"></tr>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- MODAL NUEVA AUDITORÍA -->
<div style="width: 80%" id="modalNewAuditoria" class="modal modal-fixed-footer modal-lg" #modalNewAuditoria>
  <div class="modal-content">
    <div class="row">
      <span class="close" (click)="closeModalAgregar()">&times;</span>
      <h4 style="text-transform: uppercase">Nueva Auditoría {{tipoAuditoria}}</h4>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <i class="material-icons prefix">details</i>
        <input id="ddlOT" name="ddlOT" type="text" class="validate"
               [(ngModel)]="ordenTrabajo" [readonly]="bloquearOT"
               (ngModelChange)="otValida = false">
        <label for="ddlOT">Orden Trabajo</label>
      </div>
      <div class="col s2">
        <div class="col s12" style="text-align: right">
          <button (click)="detalleOT(ordenTrabajo)" class="btn  " type="button"
                  name="btnSearchCortadores" data-position="bottom"
                  data-tooltip="Busca si existe la orden de trabajo"
                  [disabled]="loading">
            BUSCAR
            <i class="material-icons right">search</i>
          </button>
        </div>
      </div>
      <div class="col s1" *ngIf="loading">
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="col s2" style="text-align:right">
        <label class="encabezado-detalle f-w-bold">STATUS: ABIERTA</label>
        <label class="encabezado-detalle" id="lblEstado"></label>
      </div>
    </div>

    <!--  Encabezado   -->
    <hr class="border">
    <div class="row">
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">CLIENTE: </label>
        <label class="encabezado-detalle">{{otDetalle?.Cliente}}</label>
      </div>
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">PO: </label>
        <label class="encabezado-detalle" id="lblPO">{{otDetalle?.PO}}</label>
      </div>
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">TELA: </label>
        <label class="encabezado-detalle" id="lblTela">{{otDetalle?.Tela_int}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">MARCA: </label>
        <label class="encabezado-detalle" id="lblMarca">{{otDetalle?.Marca}}</label>
      </div>
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">#CORTADA: </label>
        <label class="encabezado-detalle" id="lblNoCortada">{{otDetalle?.No_Cortada}}</label>
      </div>
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">LAVADO: </label>
        <label class="encabezado-detalle" id="lblLavado">{{otDetalle?.Lavado}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">ESTILO: </label>
        <label class="encabezado-detalle" id="lblEstilo">{{otDetalle?.Estilo}}</label>
      </div>
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">PLANTA: </label>
        <label class="encabezado-detalle" id="lblPlanta">{{otDetalle?.Planta}}</label>
      </div>
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">RUTA: </label>
        <label class="encabezado-detalle" id="lblRuta">{{otDetalle?.Ruta}}</label>
      </div>
    </div>
    <hr class="border">
    <!--    Termina encabezado   -->
    <div class="row-column col s6">
      <mat-label style="font-size: 12px">TIPO AUDITORÍA</mat-label>
      <mat-radio-group class="example-radio-group justify-content-between"
                       [(ngModel)]="tipoAuditoria">
        <mat-radio-button class="example-radio-button" *ngFor="let radioTipo of radioTipoAuditoria"
                          [value]="radioTipo.value">
          {{radioTipo.viewValue}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="row">
      <app-agregar-corte class="col s12 mt-3"
                         *ngIf="tipoAuditoria === 'corte' && modalAgregarIsActive"
                         [ordenTrabajo]="ordenTrabajo"
                         [otValida]="otValida"
                         (bloquearOT)="bloquearOT = $event"
                         (Detalles)="Det = $event"></app-agregar-corte>

      <app-agregar-tendido class="col s12 mt-3"
                           *ngIf="tipoAuditoria === 'tendido' && modalAgregarIsActive"
                           [ordenTrabajo]="ordenTrabajo"
                           [otValida]="otValida"
                           (bloquearOT)="bloquearOT = $event"
                           (Detalles)="Det = $event"></app-agregar-tendido>

    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
      <div class="col s6" style="text-align: right">
        <a (click)="guardarAuditoria()" class="waves-effect waves-green btn-flat">Aceptar</a>
      </div>
    </div>
  </div>
</div>

<!-- MODAL EDIT AUDITORÍA -->
<div style="width: 80%" id="modalEditAuditoria" class="modal modal-fixed-footer modal-lg" #modalEdit>
  <div class="modal-content">
    <h4>Auditoría Corte - {{otDetalle?.IdAuditoria}}</h4>
    <div class="row">
      <div class="input-field col s4">
        <i class="material-icons prefix">details</i>
        <input id="ddlOT" name="ddlOT" type="text" class="validate"
               [value]="otDetalle?.OrdenTrabajo" [readonly]="true">
        <label for="ddlOT">Orden Trabajo</label>
      </div>
      <div class="col s2">
        <label class="encabezado-detalle f-w-bold">STATUS: </label>
        <label class="encabezado-detalle" id="lblEstado">
          {{otDetalle?.FechaRegistroFin === null ? 'ABIERTA' : 'CERRADA'}}
        </label>
      </div>
      <div class="col s3"></div>
      <div class="col s3">
        <button class="green darken-4 btn tooltiped"
                *ngIf="otDetalle?.FechaRegistroFin ===null"
                (click)="cerrarAuditoria()">
          CERRAR AUDITORIA
          <i class="material-icons right">lock</i>
        </button>
      </div>
    </div>
    <hr class="border">
    <div class="row">
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">CLIENTE: </label>
        <label id="lblCliente" class="encabezado-detalle">{{otDetalle?.Descripcion}}</label>
      </div>
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">PO: </label>
        <label class="encabezado-detalle" id="lblPO">{{otDetalle?.PO}}</label>
      </div>
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">TELA: </label>
        <label class="encabezado-detalle" id="lblTela">{{otDetalle?.Tela_int}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">MARCA: </label>
        <label class="encabezado-detalle" id="lblMarca">{{otDetalle?.Marca}}</label>
      </div>
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">#CORTADA: </label>
        <label class="encabezado-detalle" id="lblNoCortada">{{otDetalle?.NumCortada}}</label>
      </div>
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">LAVADO: </label>
        <label class="encabezado-detalle" id="lblLavado">{{otDetalle?.Lavado}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">ESTILO: </label>
        <label class="encabezado-detalle" id="lblEstilo">{{otDetalle?.Estilo}}</label>
      </div>
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">PLANTA: </label>
        <label class="encabezado-detalle" id="lblPlanta">{{otDetalle?.Planta}}</label>
      </div>
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">RUTA: </label>
        <label class="encabezado-detalle" id="lblRuta">{{otDetalle?.Ruta}}</label>
      </div>
    </div>
    <hr class="border">
    <app-editar-corte *ngIf="otDetalle?.Corte && modalEditarIsActive"
                      [status]="otDetalle?.FechaRegistroFin === null"
                      [ordenTrabajo]="ordenTrabajo"
                      [items]="items"
                      [Det]="Det"
                      (bloquearOT)="bloquearOT = $event"
                      (Detalles)="Det = $event"></app-editar-corte>

    <app-editar-tendido *ngIf="otDetalle?.Tendido && modalEditarIsActive"
                        [status]="otDetalle?.FechaRegistroFin === null"
                        [ordenTrabajo]="ordenTrabajo"
                        [items]="items"
                        [Det]="Det"
                        (bloquearOT)="bloquearOT = $event"
                        (Detalles)="Det = $event"></app-editar-tendido>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat" (click)="closeModalEditar()">Cancelar</a>
      </div>
      <div class="col s6" style="text-align: right">
        <a (click)="guardarAuditoriaEdit()"
           class="waves-effect waves-green btn-flat">Aceptar</a>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DETAILS AUDITORIA-->
<div id="modal-detalle" class="modal modal-fixed-footer modal-lg" #modalDetalle>
  <div class="modal-content">
    <div class="row">
      <span class="close" (click)="closeModalDetalle()">&times;</span>
      <h4 class="center-align">DEFECTOS {{otDetalle?.Corte ? 'CORTE' : 'TENDIDO'}}</h4>
    </div>
    <div class="row">
      <div class="col s4">
        <label class="encabezado-detalle f-w-bold">OT: </label>
        <label class="encabezado-detalle">{{otDetalle?.OrdenTrabajo}}</label>
      </div>
    </div>
    <hr class="border">
    <div class="row">
      <div class="row">
        <div class="col s4">
          <label class="encabezado-detalle f-w-bold">CLIENTE: </label>
          <label class="encabezado-detalle">{{otDetalle?.Descripcion}}</label>
        </div>
        <div class="col s4">
          <label class="encabezado-detalle f-w-bold">PO: </label>
          <label class="encabezado-detalle">{{otDetalle?.PO}}</label>
        </div>
        <div class="col s4">
          <label class="encabezado-detalle f-w-bold">TELA: </label>
          <label class="encabezado-detalle">{{otDetalle?.Tela}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <label class="encabezado-detalle f-w-bold">MARCA: </label>
          <label class="encabezado-detalle">{{otDetalle?.Marca}}</label>
        </div>
        <div class="col s4">
          <label class="encabezado-detalle f-w-bold">#CORTADA: </label>
          <label class="encabezado-detalle">{{otDetalle?.NumCortada}}</label>
        </div>
        <div class="col s4">
          <label class="encabezado-detalle f-w-bold">LAVADO: </label>
          <label class="encabezado-detalle">{{otDetalle?.Lavado}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <label class="encabezado-detalle f-w-bold">ESTILO: </label>
          <label class="encabezado-detalle">{{otDetalle?.Estilo}}</label>
        </div>
        <div class="col s4">
          <label class="encabezado-detalle f-w-bold">PLANTA: </label>
          <label class="encabezado-detalle">{{otDetalle?.Planta}}</label>
        </div>
        <div class="col s4">
          <label class="encabezado-detalle f-w-bold">RUTA: </label>
          <label class="encabezado-detalle">{{otDetalle?.Ruta}}</label>
        </div>
      </div>
    </div>
    <hr class="border">
    <div class="row mt-3" *ngIf="otDetalle?.Corte && modalDetalleIsActive">
      <div class="center-align f-w-bold mt-3"
           style="font-size: 2rem"
           *ngIf="dataSourceDetalle?.data.length === 0">
        Esta auditoría no contiene defectos
      </div>
      <table mat-table [dataSource]="dataSourceDetalle" class="mat-elevation-z8"
             *ngIf="dataSourceDetalle?.data.length > 0">
        <!-- Serie Column -->
        <ng-container matColumnDef="Serie">
          <th mat-header-cell *matHeaderCellDef>SERIE</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{element.Serie}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Bulto Column -->
        <ng-container matColumnDef="Bulto">
          <th mat-header-cell *matHeaderCellDef>NO. BULTO</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{element.Bulto}}
          </td>
          <td mat-footer-cell *matFooterCellDef class="encabezado-detalle f-w-bold"></td>
        </ng-container>

        <!-- Tendido Column -->
        <ng-container matColumnDef="Tendido">
          <th mat-header-cell *matHeaderCellDef> TENDIDO</th>
          <td mat-cell *matCellDef="let element"> {{element.NombreTendido}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- TipoTendido Column -->
        <ng-container matColumnDef="TipoTendido">
          <th mat-header-cell *matHeaderCellDef> TIPO DE TENDIDO</th>
          <td mat-cell *matCellDef="let element"> {{element.tipo_tendido}} </td>
          <td mat-footer-cell *matFooterCellDef class="encabezado-detalle f-w-bold"></td>
        </ng-container>

        <!-- Mesa Column -->
        <ng-container matColumnDef="Mesa">
          <th mat-header-cell *matHeaderCellDef> #MESA</th>
          <td mat-cell *matCellDef="let element"> {{element.NombreMesa}} </td>
          <td mat-footer-cell *matFooterCellDef class="encabezado-detalle f-w-bold"></td>
        </ng-container>

        <!-- Posicion Column -->
        <ng-container matColumnDef="Posicion">
          <th mat-header-cell *matHeaderCellDef> POSICIÓN</th>
          <td mat-cell *matCellDef="let element"> {{element.NombrePosicion}} </td>
          <td mat-footer-cell *matFooterCellDef class="encabezado-detalle f-w-bold"></td>
        </ng-container>

        <!-- Defecto Column -->
        <ng-container matColumnDef="Defecto">
          <th mat-header-cell *matHeaderCellDef> DEFECTO</th>
          <td mat-cell *matCellDef="let element"> {{element.NombreDefecto}} </td>
          <td mat-footer-cell *matFooterCellDef class="encabezado-detalle f-w-bold">TOTAL:</td>
        </ng-container>


        <!-- Cantidad Column -->
        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef> CANTIDAD</th>
          <td mat-cell *matCellDef="let element"> {{element.Cantidad | numberFormat}} </td>
          <td mat-footer-cell *matFooterCellDef class="encabezado-detalle f-w-bold">{{getTotalDetalle()}}</td>
        </ng-container>

        <!-- Nota column-->
        <ng-container matColumnDef="Nota">
          <th mat-header-cell *matHeaderCellDef> NOTA</th>
          <td mat-cell *matCellDef="let element"> {{element.Nota}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Imagen Column -->
        <ng-container matColumnDef="Imagen">
          <th mat-header-cell *matHeaderCellDef> IMAGEN</th>
          <td mat-cell *matCellDef="let element">
            <img [src]="element.Imagen" alt="imagen" style="width:40px;height:40px;"
                 class="cursor"
                 matTooltip="Ver imagen"
                 *ngIf="element.Imagen !== null && element.Imagen !== ''"
                 (click)="openImage(element.Imagen)">
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Archivo Column -->
        <ng-container matColumnDef="Archivo">
          <th mat-header-cell *matHeaderCellDef class="alinear-der"> ARCHIVO</th>
          <td mat-cell *matCellDef="let element" class="alinear-der">
            <i class="material-icons prefix cursor" *ngIf="element.Archivo"
               (click)="openPdfInTab(element.Archivo)"
               matTooltip="Ver Archivo">
              attach_file
            </i>
            <p *ngIf="!element.Archivo">No hay Archivo</p>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsDetalle"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDetalle;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumnsDetalle"></tr>
      </table>
    </div>

    <div class="row mt-3" *ngIf="otDetalle?.Tendido && modalDetalleIsActive">
      <div class="center-align f-w-bold mt-3"
           style="font-size: 2rem"
           *ngIf="dataSourceDetalleTendido?.data.length === 0">
        Esta auditoría no contiene defectos
      </div>
      <table mat-table [dataSource]="dataSourceDetalleTendido" class="mat-elevation-z8">
        <!-- Cortador Column -->
        <ng-container matColumnDef="Cortador">
          <th mat-header-cell *matHeaderCellDef> # CORTADOR</th>
          <td mat-cell *matCellDef="let element"> {{element.NombreCortador}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Serie Column -->
        <ng-container matColumnDef="Serie">
          <th mat-header-cell *matHeaderCellDef> SERIE</th>
          <td mat-cell *matCellDef="let element"> {{element.Serie}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Bulto Column -->
        <ng-container matColumnDef="Bulto">
          <th mat-header-cell *matHeaderCellDef> BULTO</th>
          <td mat-cell *matCellDef="let element"> {{element.Bulto}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Posicion Column -->
        <ng-container matColumnDef="Posicion">
          <th mat-header-cell *matHeaderCellDef> POSICIÓN</th>
          <td mat-cell *matCellDef="let element"> {{element.NombrePosicion}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Defecto Column -->
        <ng-container matColumnDef="Defecto">
          <th mat-header-cell *matHeaderCellDef>DEFECTO</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{element.NombreDefecto}}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Defecto Column -->
        <ng-container matColumnDef="Tolerancia">
          <th mat-header-cell *matHeaderCellDef>+/-</th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{element.ToleranciaPositiva ? 'SI' : 'NO' }} / {{element.toleranciaNegativa ? 'SI' : 'NO'}}
          </td>
          <td mat-footer-cell *matFooterCellDef class="encabezado-detalle f-w-bold">TOTAL:</td>
        </ng-container>

        <!-- Cantidad Column -->
        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef> CANTIDAD</th>
          <td mat-cell *matCellDef="let element"> {{element.Cantidad | numberFormat}} </td>
          <td mat-footer-cell *matFooterCellDef class="encabezado-detalle f-w-bold">{{getTotalDetalle()}}</td>
        </ng-container>

        <!-- Nota column-->
        <ng-container matColumnDef="Nota">
          <th mat-header-cell *matHeaderCellDef> NOTA</th>
          <td mat-cell *matCellDef="let element"> {{element.Nota}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Imagen Column -->
        <ng-container matColumnDef="Imagen">
          <th mat-header-cell *matHeaderCellDef> IMAGEN</th>
          <td mat-cell *matCellDef="let element">
            <img [src]="element.Imagen" alt="imagen" style="width:40px;height:40px;"
                 class="cursor"
                 matTooltip="Ver imagen"
                 *ngIf="element.Imagen !== null && element.Imagen !== ''"
                 (click)="openImage(element.Imagen)">
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Archivo Column -->
        <ng-container matColumnDef="Archivo">
          <th mat-header-cell *matHeaderCellDef class="alinear-der"> ARCHIVO</th>
          <td mat-cell *matCellDef="let element" class="alinear-der">
            <i class="material-icons prefix cursor" *ngIf="element.Archivo"
               (click)="openPdfInTab(element.Archivo)"
               matTooltip="Ver archivo">
              attach_file
            </i>
            <p *ngIf="!element.Archivo">No hay archivo</p>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Opciones column-->
        <ng-container matColumnDef="Opciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let i = index" style="text-align: right">
            <button class=" red darken-4 btn tooltiped bold_sub"
                    matTooltip="Eliminar"
                    (click)="eliminar(i)">
              <i class="material-icons">delete</i>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsDetalleTendido"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDetalleTendido;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumnsDetalleTendido"></tr>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6"></div>
      <div class="col s6" style="text-align: right">
        <button type="button" class="btn-flat mr-3" (click)="imprimirDetalle(otDetalle)">
          <i class="material-icons left">print</i>
          IMPRIMIR
        </button>
      </div>
    </div>
  </div>
</div>
