<div class="card-panel">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s3">
          <i class="material-icons prefix">font_download</i>
          <input id="CLAVE_OPERACION" type="text" class="validate">
          <label for="CLAVE_OPERACION">Clave</label>
        </div>
        <div class="input-field col s3">
          <i class="material-icons prefix">account_box</i>
          <input id="DESCRIPCION_OPERACION" type="text" class="validate">
          <label for="DESCRIPCION_OPERACION">Nombre</label>
        </div>
        <div class="col s6" style="text-align: right">
          <button (click)="GetOperacionLavanderia()" class="btn tooltipped waves-effect waves-light"
                  data-position="bottom" data-tooltip="Consultar las operaciones de procesos especiales" type="button"
                  name="btnSearchOperacionConfeccion">Buscar
            <i class="material-icons right">search</i>
          </button>
        </div>
      </div>
      <div class="row">
        <table id="tlbOperacionProcesosEspeciales" class="row-border hover"
               datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
          <tr>
            <th></th>
            <th>No.</th>
            <th>Clave Operación</th>
            <th>Nombre Operación</th>
            <th>Estatus</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let operacion of operaciones; let i = index;" (dblclick)="eliminar(operacion)">
            <td>
              <button class="btn modal-trigger"
                      data-target="modalEditOperacionProcesosEspeciales"
                      matTooltip="Editar"
                      (click)="getDetalle(operacion.ID)">
                <i class="material-icons center">edit</i>
              </button>
            </td>
            <td>{{i + 1}}</td>
            <td>{{operacion.Clave}}</td>
            <td>{{operacion.Nombre}}</td>
            <td>{{operacion.Activo ? 'SI' : 'NO'}}</td>
            <td>
              <a class=" btn bold_sub"
                 matTooltip="Activa / Inactiva la operacion seleccionada"
                 (click)="GetEnabledOperacionProcesosEspeciales(operacion.ID)">
                <u>{{operacion.Activo ? 'INACTIVAR' : 'ACTIVAR'}}</u>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <br/>
      <div class="row" style="text-align: right">
        <div class="col s12">
          <button class="btn waves-effect waves-light red lighten-2" [routerLink]="['/home']">Regresar
            <i class="material-icons left">arrow_back</i>
          </button>
          &nbsp;&nbsp;
          <button (click)="getDefectosActivos()"
                  class="btn tooltipped waves-effect waves-light modal-trigger" data-position="bottom"
                  data-tooltip="Agrega una nueva operación" data-target="modalNewOperacionProcesosEspeciales"
                  type="button" name="btnAddOperacionProcesosEspeciales">Agregar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="modalNewOperacionProcesosEspeciales" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Nueva Operación Lavandería</h4>
    <form class="col s12" [formGroup]="form">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_box</i>
          <input id="CLAVE_NEW_OPERACION" maxlength="10" type="text" class="validate"
                 formControlName="Clave">
          <label for="CLAVE_NEW_OPERACION">Clave</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="DESCRIPCION_NEW_OPERACION" maxlength="150" type="text" class="validate"
                 formControlName="Nombre">
          <label for="DESCRIPCION_NEW_OPERACION">Nombre:</label>
        </div>
      </div>
      <div class="row">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="posicion">
            <th mat-header-cell *matHeaderCellDef> No</th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="clave">
            <th mat-header-cell *matHeaderCellDef> CLAVE</th>
            <td mat-cell *matCellDef="let element"> {{element.Clave}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> NOMBRE</th>
            <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
          </tr>
        </table>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
      <div class="col s6" style="text-align: right">
        <a (click)="NewOperacionProcesosEspeciales()"
           class="waves-effect waves-green btn-flat">Aceptar</a>
      </div>
    </div>
  </div>
</div>

<div id="modalEditOperacionProcesosEspeciales" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Edita la Operación de lavandería</h4>
    <form class="col s12" [formGroup]="form">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_box</i>
          <input id="CVE_EDT_OPERACION" name="CVE_EDT_OPERACION" maxlength="10" type="text" class="validate"
          formControlName="Clave">
          <label class="active" for="CVE_EDT_OPERACION">Clave</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="NOMBRE_EDT_OPERACION" name="NOMBRE_EDT_OPERACION" maxlength="150" type="text" class="validate"
          formControlName="Nombre">
          <label class="active" for="NOMBRE_EDT_OPERACION">Nombre:</label>
        </div>
      </div>
      <div class="row">
        <table mat-table [dataSource]="dataSourceEdit" class="mat-elevation-z8">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Position Column -->
          <ng-container matColumnDef="posicion">
            <th mat-header-cell *matHeaderCellDef> No</th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="clave">
            <th mat-header-cell *matHeaderCellDef> CLAVE</th>
            <td mat-cell *matCellDef="let element"> {{element.Clave}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> NOMBRE</th>
            <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsEdit"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsEdit;"
              (click)="selection.toggle(row)">
          </tr>
        </table>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
      <div class="col s6" style="text-align: right">
        <a (click)="EditOperacionProcesosEspeciales()" class="waves-effect waves-green btn-flat">Aceptar</a>
      </div>
    </div>
  </div>
</div>
