<section class="container-fluid">
  <section class="row">
    <div class="col s12">
      <nav class="nav-extended">
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a routerLinkActive="active" routerLink="corte">Cortadores</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="defectocorte">Defectos</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="mesa">Mesa</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="posicioncorte">Posición</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="tendido">Tendido</a></li>
<!--            <li class="tab"><a routerLinkActive="active" routerLink="tipotendido">Tipo Tendido</a></li>-->
            <li class="tab"><a routerLinkActive="active" routerLink="toleranciacorte">Tolerancia</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="auditoriacorte">Auditoría Corte</a></li>
            <li class="tab"><a routerLinkActive="active" routerLink="auditoriatendido">Auditoría Tendido</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col s12">
      <router-outlet></router-outlet>
    </div>
  </section>
</section>
