<div class="card-panel">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s3">
          <i class="material-icons prefix">font_download</i>
          <input id="CLAVE_PROCESO_ESPECIAL" type="text" class="validate">
          <label for="CLAVE_PROCESO_ESPECIAL">Clave</label>
        </div>
        <div class="input-field col s3">
          <i class="material-icons prefix">account_box</i>
          <input id="NOMBRE_PROCESO_ESPECIAL" type="text" class="validate">
          <label for="NOMBRE_PROCESO_ESPECIAL">Nombre</label>
        </div>
        <div class="col s6" style="text-align: right">
          <button (click)="GetDefectosProcesosEspeciales()" class="btn tooltipped waves-effect waves-light" data-position="bottom" data-tooltip="Consultar los defectos por procesos especiales por filtro seleccionado" type="button" name="btnSearchProcesosEspeciales">Buscar
            <i class="material-icons right">search</i>
          </button>
        </div>
      </div>
      <div class="row">
        <table id="tlbDefectoProcesosEspeciales" class="row-border hover">
          <thead>
            <th></th>
            <th>Clave Defecto</th>
            <th>Nombre Defecto</th>
            <th>Estatus</th>
            <th></th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <br />
      <div class="row" style="text-align: right">
        <div class="col s12">
          <button class="btn waves-effect waves-light red lighten-2" [routerLink]="['/home']">Regresar
            <i class="material-icons left">arrow_back</i>
          </button>
          &nbsp;&nbsp;
          <button (click)="DisposeNewProcesosEspeciales()" class="btn tooltipped waves-effect waves-light modal-trigger" data-position="bottom" data-tooltip="Agrega un nuevo defecto al proceso especial" data-target="modalNewDefectoProcesosEspeciales" type="button" name="btnAddDefectoProcesosEspeciales">Agregar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div id="modalNewDefectoProcesosEspeciales" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Nuevo Defecto</h4>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_box</i>
          <input id="CVE_NEW_PROCESOS_ESPECIALES" maxlength="10" type="text" class="validate">
          <label for="CVE_NEW_PROCESOS_ESPECIALES">Clave</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="NOMBRE_NEW_PROCESOS_ESPECIALES" maxlength="150" type="text" class="validate">
          <label for="NOMBRE_NEW_PROCESOS_ESPECIALES">Nombre:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">font_download</i>
          <input id="OBSERVACIONES_NEW_PROCESOS_ESPECIALES" maxlength="500" type="text" class="validate">
          <label for="OBSERVACIONES_NEW_PROCESOS_ESPECIALES">Obs.:</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">font_download</i>
          <input id="DESCRIPCION_NEW_PROCESOS_ESPECIALES" maxlength="250" type="text" class="validate">
          <label for="DESCRIPCION_NEW_PROCESOS_ESPECIALES">Descripcion:</label>
        </div>
      </div>
      <div class = "row">
        <label>Imagen Defecto</label>
        <div class="file-field input-field">
           <div class="btn">
              <span>Buscar</span>
              <input id="ImageDefecto" type="file" accept="image/*" onchange="readURL(this);"/>
           </div>
           <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Carga Archivo" />
           </div>
           <img id="blah" src="http://placehold.it/180" alt="your image" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
      <div class="col s6" style="text-align: right">
        <a (click)="NewDefectoProcesosEspeciales()" class="waves-effect waves-green btn-flat">Aceptar</a>
      </div>
    </div>
  </div>
</div>

<div id="modalEditDefectoProcesosEspeciales" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Edita el Defecto en Cortador</h4>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_box</i>
          <input id="CVE_EDT_DEFECTO_PROC_ESP" name="CVE_EDT_DEFECTO_PROC_ESP" maxlength="10" type="text" class="validate">
          <label class="active" for="CVE_EDT_DEFECTO_PROC_ESP">Clave</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="NOMBRE_EDT_DEFECTO_PROC_ESP" name="NOMBRE_EDT_DEFECTO_PROC_ESP" maxlength="150" type="text" class="validate">
          <label class="active" for="NOMBRE_EDT_DEFECTO_PROC_ESP">Nombre:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">font_download</i>
          <input id="OBSERVACIONES_EDT_DEFECTO_PROC_ESP" name="OBSERVACIONES_EDT_DEFECTO_PROC_ESP" maxlength="10" type="text" class="validate">
          <label class="active" for="OBSERVACIONES_EDT_DEFECTO_PROC_ESP">Obs.:</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">font_download</i>
          <input id="DESCRIPCION_EDT_DEFECTO_PROC_ESP" name="DESCRIPCION_EDT_DEFECTO_PROC_ESP" maxlength="250" type="text" class="validate">
          <label class="active" for="DESCRIPCION_EDT_DEFECTO_PROC_ESP">Descripcion:</label>
        </div>
      </div>
      <div class = "row">
        <label>Imagen Defecto</label>
        <div class="file-field input-field">
           <div class="btn">
              <span>Buscar</span>
              <input id="ImageDefecto" type="file" accept="image/*" onchange="readURL(this);"/>
           </div>
           <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Carga Archivo" />
           </div>
           <img id="blah" src="http://placehold.it/180" alt="your image" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
      <div class="col s6" style="text-align: right">
        <a (ckick)="EditDefectoProcesosEspeciales()" class="waves-effect waves-green btn-flat">Aceptar</a>
      </div>
    </div>
  </div>
</div>

<!-- Update Enabled Cortador -->
<div id="modalEnableDefectoProcesosEspeciales" class="modal">
  <div class="modal-content">
    <div style="text-align: center">
      <p>¿Realmente deseas activar o desactivar el defecto procesos especiales?</p>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
      <div class="col s6" style="text-align: right">
        <a (click)="GetEnabledDefectoProcesosEspeciales();" class="waves-effect waves-green btn-flat">Aceptar</a>
      </div>
    </div>
  </div>
</div>