<div class="card-panel">
  <div class="row">
    <div class="row" style="text-align: right">
      <div class="col s12">
        <button class="btn red lighten-2" [routerLink]="['/home']">Regresar
          <i class="material-icons left">arrow_back</i>
        </button>
        &nbsp;&nbsp;
        <button type="button" name="btnAddDefectoCortador"
                class="btn modal-trigger"
                data-target="modalNewDefectoLavanderia"
                (click)="DisposeNewDefectoLavanderia()">Agregar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
    <form class="col s12" #form="ngForm" (ngSubmit)="obtenerDefectos()">
      <div class="row">
        <div class="input-field col s3">
          <i class="material-icons prefix">font_download</i>
          <input id="CLAVE_CORTADOR" type="text" class="validate"
                 [(ngModel)]="clave" name="clave">
          <label for="CLAVE_CORTADOR">Clave</label>
        </div>
        <div class="input-field col s3">
          <i class="material-icons prefix">account_box</i>
          <input id="NOMBRE_CORTADOR" type="text" class="validate"
                 [(ngModel)]="nombre" name="nombre">
          <label for="NOMBRE_CORTADOR">Nombre</label>
        </div>
        <div class="col s6" style="text-align: right">
          <button (click)="obtenerDefectos()" class="btn"
                  type="submit" name="btnSearchDefectoCortadores">Buscar
            <i class="material-icons right">search</i>
          </button>
        </div>
      </div>
    </form>
    <div class="row">
      <table id="tlbDefectoLavanderia" class="row-border hover"
             datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
        <tr>
          <th></th>
          <th>No.</th>
          <th>Clave Defecto</th>
          <th>Nombre Defecto</th>
          <th>Área</th>
          <th>Estatus</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let defecto of defectos; let i = index" (dblclick)="eliminar(defecto)">
          <td>
            <button
              class="btn modal-trigger" data-target="modalEditDefectoLavanderia"
              matTooltip="Edita el defecto  seleccionado"
              (click)="editDefecto(defecto)"
              [disabled]="defecto.Activo === false">
              <i class="material-icons center">edit</i>
            </button>
          </td>
          <td>{{i + 1}}</td>
          <td>{{defecto.Clave}}</td>
          <td>{{defecto.Nombre}}</td>
          <td>{{defecto.IdSubModulo === 17 ? 'LAVANDERÍA' : 'PROCESOS ESPECIALES'}}</td>
          <td>{{defecto.Activo ? 'SI' : 'No'}}</td>
          <td>
            <a class="waves-effect waves-light btn tooltiped modal-trigger" data-target="modalEnableDefectoCortador"
               data-tooltiped="Activa / Inactiva el cortador seleccionado"
               (click)="GetEnabledDefectoLavanderia(defecto)">
              <strong><u>{{defecto.Activo ? 'INACTIVAR' : 'ACTIVAR'}}</u></strong>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <br/>
  </div>
</div>

<div id="modalNewDefectoLavanderia" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Nuevo Defecto</h4>
    <form class="col s12" [formGroup]="formEdit">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_box</i>
          <input id="CVE_NEW_CORTADOR" maxlength="10" type="text" class="validate"
                 formControlName="Clave">
          <label for="CVE_NEW_CORTADOR">Clave</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="NOMBRE_NEW_CORTADOR" maxlength="150" type="text" class="validate"
                 formControlName="Nombre">
          <label for="NOMBRE_NEW_CORTADOR">Nombre:</label>
        </div>
      </div>
      <div class="row">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          formControlName="Tipo">
          <mat-radio-button class="example-radio-button" *ngFor="let option of optionModule" [value]="option.value">
            {{option.viewValue}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="row">
        <label>Imagen Defecto</label>
      </div>
      <div class="row">
        <label class="image-upload-container btn btn-bwm">
          <span>Selecciona imagen</span>
          <input #imageInput
                 type="file"
                 accept="image/*"
                 (change)="processFile(imageInput, true)">
        </label>
        <div *ngIf="selectedFile" class="img-preview-container">
          <div class="img-preview"
               [ngStyle]="{'background-image': 'url('+ selectedFile + ')'}">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
      <div class="col s6" style="text-align: right">
        <a (click)="NewDefectoLavanderia()" class="waves-effect waves-green btn-flat">Aceptar</a>
      </div>
    </div>
  </div>
</div>

<div id="modalEditDefectoLavanderia" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Edita el Defecto</h4>
    <form class="col s12" [formGroup]="formEdit">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_box</i>
          <input id="CVE_EDT_DEFECTO" name="CVE_EDT_DEFECTO" maxlength="10" type="text" class="validate"
                 formControlName="Clave">
          <label class="active" for="CVE_EDT_DEFECTO">Clave</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">account_circle</i>
          <input id="NOMBRE_EDT_DEFECTO" name="NOMBRE_EDT_DEFECTO" maxlength="150" type="text" class="validate"
                 formControlName="Nombre">
          <label class="active" for="NOMBRE_EDT_DEFECTO">Nombre:</label>
        </div>
      </div>
      <!--      <div class="row">-->
      <!--        <div class="input-field col s6">-->
      <!--          <i class="material-icons prefix">font_download</i>-->
      <!--          <input id="OBSERVACIONES_EDT_DEFECTO" name="OBSERVACIONES_EDT_DEFECTO" maxlength="10" type="text"-->
      <!--                 class="validate"-->
      <!--                 formControlName="Observaciones">-->
      <!--          <label class="active" for="OBSERVACIONES_EDT_DEFECTO">Obs.:</label>-->
      <!--        </div>-->
      <!--        <div class="input-field col s6">-->
      <!--          <i class="material-icons prefix">font_download</i>-->
      <!--          <input id="DESCRIPCION_EDT_DEFECTO" name="DESCRIPCION_EDT_DEFECTO" maxlength="250" type="text"-->
      <!--                 class="validate"-->
      <!--          formControlName="Descripcion">-->
      <!--          <label class="active" for="DESCRIPCION_EDT_DEFECTO">Descripcion:</label>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="row">
        <label>Imagen Defecto</label>
      </div>
      <div class="row">
        <label class="image-upload-container btn btn-bwm">
          <span>Selecciona imagen</span>
          <input #imageInput2
                 type="file"
                 accept="image/*"
                 (change)="processFile(imageInput2, false)">
        </label>

        <div class="img-preview-container" *ngIf="noMostrar">
          <img [src]="selectedFileEdit" width="400" height="400">
        </div>

        <div *ngIf="selectedFile" class="img-preview-container">
          <div class="img-preview{{selectedFile === 'fail' ? '-error' : ''}}"
               [ngStyle]="{'background-image': 'url('+ selectedFile + ')'}">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat" (click)="resetModalEdit()">Cancelar</a>
      </div>
      <div class="col s6" style="text-align: right">
        <a (click)="EditDefectoLavanderia()" class="waves-effect waves-green btn-flat">Aceptar</a>
      </div>
    </div>
  </div>
</div>
