<section class="container-fluid">
  <section class="row">
    <div class="col s12">
      <nav class="nav-extended">
        <div class="nav-content">
          <ul class="tabs tabs-transparent">
            <li class="tab"><a activeClass="active" routerLink="terminado-operaciones">Operaciones</a></li>
            <li class="tab"><a activeClass="active" routerLink="terminado-posicion">Posición</a></li>
            <li class="tab"><a activeClass="active" routerLink="terminado-origen">Origen</a></li>
            <li class="tab"><a activeClass="active" routerLink="terminadodefectos">Defectos</a></li>
            <li class="tab"><a activeClass="active" routerLink="terminado-auditoria-defectos">Registro auditoria terminado</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
  <section class="row">
    <div class="col s12">
      <router-outlet></router-outlet>
    </div>
  </section>
</section>
