<h1 mat-dialog-title>Agregar operación</h1>
<div mat-dialog-content>
  <form class="col s12" [formGroup]="formEdit">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_box</i>
        <input id="CVE_EDIT_OPERACION_TERMINADO" maxlength="10" type="text" class="validate"
               #clave_edit formControlName="Clave">
        <label for="CVE_EDIT_OPERACION_TERMINADO">Clave</label>
      </div>
    </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">font_download</i>
        <textarea id="CVE_EDIT_DESCRIPCION_TERMINADO" type="text" class="materialize-textarea"
                  formControlName="Descripcion" #descripcion_edit></textarea>
        <label for="CVE_EDIT_DESCRIPCION_TERMINADO">Descripción</label>
      </div>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onNoClick()">Guardar</button>
</div>
