@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
.error {
  color: red;
}

/* Drop Zone */
.drop-zone {
  border: dotted 3px lightgray;
  opacity: 0.5;
  color: #666;
  text-align: center
}

.file-over {
  border: dotted 3px dodgerblue;
}

.table {
  margin-top: 30px;
}

.text-green {
  color: green
}

table {
  width: 100% !important;
}

.modal {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

input[type="file"] {
  display: none;
}

.bold_sub {
  font-weight: bold;
  text-decoration: underline;
}

.image-upload-container {
  cursor: pointer;
}

.img-preview-container {
  background-color: #f7f7f7;
  position: relative;
  margin-top: 1rem;
}
.img-preview-container .img-preview {
  background: center center no-repeat;
  background-size: contain;
  height: 400px;
  width: 400px;
}
.img-preview-container .img-preview-error {
  display: none;
}

.img-loading-overlay {
  background-color: black;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
}

.img-spinning-circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.img-spinning-circle:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

