<div class="card-panel">
  <form>
    <div class="row">
      <div class="input-field col s3">
        <i class="material-icons prefix">account_box</i>
        <input id="CLI_DESCRIPCION" type="text" class="validate">
        <label for="CLI_DESCRIPCION">Descripción</label>
      </div>
      <div class="input-field col s3">
        <i class="material-icons prefix">assignment_ind</i>
        <input id="CLI_OBSERVACION" type="text" class="validate"/>
        <label for="CLI_OBSERVACION">Observación</label>
      </div>
      <div class="col s6" style="text-align: right">
        <button class="btn tooltipped waves-effect waves-light" (click)="GetClientsRefCru();" data-position="bottom" data-tooltip="Consultar clientes por filtro seleccionado" type="button" name="btnSearchClientRef">Buscar
          <i class="material-icons right">search</i>
        </button>
      </div>
    </div>
    <br/>
    <div class="row">
      <table id="tlbClientesRefCru" class="row-border">
        <thead>
          <tr>
            <th></th>
            <th>Descripción</th>
            <th>Observación</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <br />
    <div class="row" style="text-align: right">
      <div class="col s12">
        <button class="btn waves-effect waves-light red lighten-2" [routerLink]="['/home']">Regresar
          <i class="material-icons left">arrow_back</i>
        </button>
        &nbsp;&nbsp;
        <button (click)="DisposeRegistrosTabla()" class="btn tooltipped waves-effect waves-light modal-trigger" data-target="mdlNewRefCru" data-position="bottom" data-tooltip="Agrega una nueva referencia cruzada" type="button" name="btnAddRefCruzada">Agregar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>

<!-- MODAL DETALLAR CLIENTE -->
<div class="modal modal-fixed-footer" id="mdlDetalle">
  <div class="modal-content">
    <h4>Cliente</h4>
    <form class="col s12">
      <div class="row">
        <div class="col s4">
          <label style="font-size: 1.2rem">CLIENTE: </label>
          <label id="lblCliente" style="font-size: 1.2rem"></label>
        </div>
      </div>
      <div class="row">
          <table class="row-border hover" id="tlbClientesRefDetails">
            <thead>
              <tr>
                <th>No.</th>
                <th>Clave</th>
                <th>Nombre</th>
                <th>Nombre Corto</th>
              </tr>
            </thead>
          </table>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s12" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
      </div>
    </div>
  </div>
</div>

<!-- MODAL NEW CLIENTE REFERENCIA CRUZADA -->
<div class="modal modal-fixed-footer" id="mdlNewRefCru">
  <div class="modal-content">
    <h4>Nueva Referencia Cliente</h4>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix">account_box</i>
          <input id="BUS_CLIENTE" data-position="bottom" data-tooltip="Búsqueda por clave de cliente, nombre completo y nombre corto" type="text" class="validate" />
          <label for="BUS_CLIENTE">Búsqueda</label>
        </div>
        <div class="col s8" style="text-align: right">
            <button class="btn tooltipped waves-effect waves-light" data-position="bottom" data-tooltip="Consultar clientes por filtro seleccionado" (click)="GetClients();" type="button" name="btnSearchUser">Buscar
              <i class="material-icons right">search</i>
            </button>
          </div>
      </div>
      <br/>
      <div class="row">
        <table class="row-border hover" id="tlbClientes">
          <thead>
            <tr>
              <th>Clave</th>
              <th>Nombre</th>
              <th>Siglas</th>
              <th>Rfc</th>
              <th>Estatus</th>
              <th>C.P.</th>
              <th>Contacto</th>
            </tr>
          </thead>
          <tbody id="tbdy_Clientes_Ref"></tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
      <div class="col s6" style="text-align: right">
        <a (click)="ValidateRowsTableSelect()" data-target="mdlNewCliRef" onclick="javascript: ValidateRowsSelectTable()" class="waves-effect waves-green btn-flat modal-trigger">Aceptar</a>
      <div>
    </div>
  </div>
</div>

<!-- MODAL NEW REFERENCIA CRUZADA  -->
<div class="modal modal-fixed-footer" id="mdlNewCliRef">
  <div class="modal-content">
    <h4>REFERENCIA CRUZADA CALIDAD</h4>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">font_download</i>
          <input id="CLI_NOMBRE_NEW" data-position="bottom" data-tooltip="Nombre del cliente, referencia cruzada" type="text" class="validate" />
          <label for="CLI_NOMBRE_NEW">Nombre:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">explicit</i>
          <input id="CLI_OBSERVACIONES_NEW" data-position="bottom" data-tooltip="Observaciones del cliente, referencia cruzada" type="text" class="validate">
          <label for="CLI_OBSERVACIONES_NEW">Obs.:</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
      <div class="col s6" style="text-align: right">
        <a onclick="javascript: GetClientsTable()" (click)="SaveClient()" class="waves-effect waves-green btn-flat">Aceptar</a>
      <div>
    </div>
  </div>
</div>

