header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
.menu-item{
  padding-top: 10%;
}
.menu-img{
  text-align: center;
}
.container-fluid{
  padding: 0.20%;
}