<!--<a data-target="slide-out" class="sidenav-trigger waves-effect waves-light btn"><i class="material-icons right">menu</i>Menu</a>-->
<section class="container-fluid">
  <article class="row">
    <div class="col s12 m5">
      <div class="col s6 menu-img">
        <img src="./../../assets/img/team.png" width="50%" alt="ADMINISTRACIÓN">
      </div>
      <div class="col s6 menu-item">
        <a routerLink="/admin">ADMINISTRACIÓN</a>
      </div>
    </div>
    <div class="col s12 m5">
      <div class="col s6 menu-img">
        <img src="./../../assets/img/coupon.png" width="50%" alt="CORTE">
      </div>
      <div class="col s6 menu-item">
        <a routerLink="/cut">CORTE</a>
      </div>
    </div>
  </article>
  <article class="row">
    <div class="col s12 m5">
      <div class="col s6 menu-img">
        <img src="./../../assets/img/catalog.png" width="50%" alt="CATÁLOGOS">
      </div>
      <div class="col s6 menu-item">
        <a routerLink="/catalog">CATÁLOGOS</a>
      </div>
    </div>
    <div class="col s12 push-m2 m5">
      <div class="col s6 menu-img">
        <img src="./../../assets/img/icon.png" width="50%" alt="CONFECCIÓN">
      </div>
      <div class="col s6 menu-item">
        <a routerLink="/confection">CONFECCIÓN</a>
      </div>
    </div>
  </article>
  <article class="row">
    <div class="col s12 m5 push-m1">
      <!--<div class="col s6 menu-img">
          <img src="./../../assets/img/menu.png" width="50%" alt="GENERAL">
      </div>
      <div class="col s6 menu-item">
          <a routerLink="/general">GENERAL</a>
      </div>-->
      <div class="col s6 menu-img">
        <img src="./../../assets/img/washing-machine.png" width="50%" alt="PROCESOS ESPECIALES Y LAVANDERÍA">
      </div>
      <div class="col s6 menu-item">
        <a routerLink="/processes-and-laundry">PROCESOS ESPECIALES Y LAVANDERÍA</a>
      </div>
    </div>
    <div class="col s12 m5 push-m1">
      <div class="col s6 menu-img">
        <img src="./../../assets/img/report.png" width="50%" alt="CONSULTAS/REPORTES">
      </div>
      <div class="col s6 menu-item">
        <a routerLink="/reports">CONSULTAS/REPORTES</a>
      </div>
    </div>
  </article>
  <article class="row">
    <div class="col s12 m5">
      <div class="col s6 menu-img">
        <img src="./../../assets/img/clothes.png" width="50%" alt="TERMINADO">
      </div>
      <div class="col s6 menu-item">
        <a routerLink="/finished">TERMINADO</a>
      </div>
    </div>
    <div class="col s12 m5">
      <div class="col s6 menu-img">
        <img src="./../../assets/img/catalog.png" width="50%" alt="TERMINADO">
      </div>
      <div class="col s6 menu-item">
        <a routerLink="/quality">CALIDAD</a>
      </div>
    </div>
  </article>
</section>
