<div class="card-panel">
  <div class="row" style="text-align: right">
    <div class="col s12">
      <button class="btn waves-effect waves-light red lighten-2" [routerLink]="['/home']">Regresar
        <i class="material-icons left">arrow_back</i>
      </button>
      &nbsp;&nbsp;
      <button (click)="reset()" class="btn tooltipped waves-effect waves-light modal-trigger" data-position="bottom"
              data-tooltip="Agrega una nueva Mesa" data-target="modalNewMesa" type="button" name="btnAddMesa">Agregar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s3">
          <i class="material-icons prefix">font_download</i>
          <input id="CLAVE_CORTADOR" type="text" class="validate">
          <label for="CLAVE_CORTADOR">Clave</label>
        </div>
        <div class="input-field col s3">
          <i class="material-icons prefix">account_box</i>
          <input id="NOMBRE_CORTADOR" type="text" class="validate">
          <label for="NOMBRE_CORTADOR">Nombre</label>
        </div>
        <div class="col s6" style="text-align: right">
          <button (click)="obtenerMesas()" class="btn tooltipped waves-effect waves-light" data-position="bottom"
                  data-tooltip="Consultar los cortadores por mesa " type="button" name="btnSearchMesa">Buscar
            <i class="material-icons right">search</i>
          </button>
        </div>
      </div>
      <div class="row">
        <table id="tlbDefectoCortadores" class="row-border hover"
               datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
          <tr>
            <th></th>
            <th>No.</th>
            <th>Clave Defecto</th>
            <th>Nombre Defecto</th>
            <th>Estatus</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let mesa of mesas; let i = index" matTooltip="Doble click para eliminar"
              (dblclick)="eliminar(mesa)">
            <td>
              <button class="btn modal-trigger" data-target="modalEditMesa"
                      matTooltip="Editar"
                      [disabled]="mesa.Activo === false"
                      (click)="getDetalle(mesa)">
                <i class="material-icons center">edit</i>
              </button>
            </td>
            <td>{{i + 1}}</td>
            <td>{{mesa.Clave}}</td>
            <td>{{mesa.Nombre}}</td>
            <td>{{mesa.Activo ? 'SI' : 'NO'}}</td>
            <td class="center-align">
              <a class="btn bold_sub"
                 (click)="GetEnabledMesa(mesa)">
                <u>{{mesa.Activo ? 'INACTIVAR' : 'ACTIVAR'}}</u>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <br/>
    </form>
  </div>
</div>

<div id="modalNewMesa" class="modal modal-fixed-footer" style="width: 40%; height: 40%;">
  <div class="modal-content">
    <h4>Nueva Mesa</h4>
    <form class="col s12" [formGroup]="form">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_box</i>
          <input id="CVE_NEW_CORTADOR" maxlength="10" type="text" class="validate"
                 formControlName="Clave">
          <label for="CVE_NEW_CORTADOR">Clave</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="NOMBRE_NEW_CORTADOR" maxlength="150" type="text" class="validate"
                 formControlName="Nombre">
          <label for="NOMBRE_NEW_CORTADOR">Nombre:</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
      <div class="col s6" style="text-align: right">
        <a (click)="NewMesa()" class="waves-effect waves-green btn-flat">Aceptar</a>
      </div>
    </div>
  </div>
</div>

<div id="modalEditMesa" class="modal modal-fixed-footer" style="width: 40%; height: 40%">
  <div class="modal-content">
    <h4>Edita el Cortador por Mesa</h4>
    <form class="col s12" [formGroup]="form">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_box</i>
          <input id="CVE_EDT_MESA" maxlength="10" type="text" class="validate"
                 formControlName="Clave">
          <label class="active" for="CVE_EDT_MESA">Clave</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="NOMBRE_EDT_MESA" maxlength="150" type="text" class="validate"
                 formControlName="Nombre">
          <label class="active" for="NOMBRE_EDT_MESA">Nombre:</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col s6" style="text-align: left">
        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
      <div class="col s6" style="text-align: right">
        <a class="waves-effect waves-green btn-flat"
        (click)="EditMesa()">Aceptar</a>
      </div>
    </div>
  </div>
</div>
