<div class="card-panel">
  <div class="row" style="text-align: right">
    <div class="col s12">
      <button class="btn waves-effect waves-light red lighten-2" [routerLink]="['/home']">Regresar
        <i class="material-icons left">arrow_back</i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col s4 center-align">
      <span>Periodo</span>
    </div>
    <div class="col s2 center-align">
      <span>Cliente</span>
    </div>
    <div class="col s2 center-align">
      <span>Marca</span>
    </div>
    <div class="col s2 center-align">
      <span># PO</span>
    </div>
    <div class="col s2 center-align">
      <span># Corte</span>
    </div>
  </div>

  <form [formGroup]="formFilter">
    <div class="row">
      <div class="col s2">
        <div class="input-field">
          <i class="material-icons prefix">date_range</i>
          <input id="inicio" type="date" class="validate"
                 formControlName="Fecha_i">
          <label for="inicio">Inicio</label>
        </div>
      </div>

      <div class="col s2">
        <div class="input-field">
          <i class="material-icons prefix">date_range</i>
          <input id="fin" type="date" class="validate"
                 formControlName="Fecha_f">
          <label for="fin">Fin</label>
        </div>
      </div>

      <div class="col s2">
        <div class="input-field">
          <input id="cliente" type="text" class="validate" [matAutocomplete]="cliente"
                 formControlName="IdCliente"
                 (focus)="obtenerMarcas(true)"
                 (blur)="obtenerMarcas(true)">
          <mat-autocomplete #cliente="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let cliente of filteredOptions | async" [value]="cliente">
              {{cliente.Descripcion}}
            </mat-option>
          </mat-autocomplete>
          <label for="cliente">Buscar cliente</label>
        </div>
      </div>

      <div class="col s2">
        <div class="input-field">
          <input id="marca" type="text" class="validate" [matAutocomplete]="marca"
                 formControlName="Marca"
                 (focus)="obtenerMarcas()"
                 (blur)="obtenerPO()">
          <mat-autocomplete #marca="matAutocomplete">
            <mat-option *ngFor="let marca of filteredOptionsMarca | async" [value]="marca">
              {{marca}}
            </mat-option>
          </mat-autocomplete>
          <label for="marca">Buscar marca</label>
        </div>
      </div>

      <div class="col s2">
        <div class="input-field">
          <input id="po" type="text" class="validate" [matAutocomplete]="po"
                 formControlName="PO"
                 (focus)="obtenerPO()"
                 (blur)="obtenerCorte()">
          <mat-autocomplete #po="matAutocomplete">
            <mat-option *ngFor="let po of pos" [value]="po">
              {{po}}
            </mat-option>
          </mat-autocomplete>
          <label for="po">Buscar PO</label>
        </div>
      </div>

      <div class="col s2">
        <div class="input-field">
          <input id="corte" type="text" class="validate" [matAutocomplete]="corte"
                 formControlName="Corte"
                 (focus)="obtenerCorte()">
          <mat-autocomplete #corte="matAutocomplete">
            <mat-option *ngFor="let corte of cortes" [value]="corte">
              {{corte}}
            </mat-option>
          </mat-autocomplete>
          <label for="corte">Buscar Corte</label>
        </div>
      </div>
    </div>
    <div class="row right-align">
      <div class="col s12">
        <button type="button" name="btnAddCortador"
                style="margin-right: 1rem;"
                class="btn light-blue darken-4"
                (click)="reset()">Reiniciar
          <!--<i class="material-icons right">search</i>-->
        </button>
        <button type="button" name="btnAddCortador"
                class="btn light-blue darken-4"
                (click)="buscar()">Buscar
          <i class="material-icons right">search</i>
        </button>
      </div>
    </div>
  </form>

  <mat-tab-group>
    <mat-tab label="Corte">
      <app-corte-consulta [detalleConsulta]="auditoriaCorte"></app-corte-consulta>
    </mat-tab>
    <mat-tab label="Confección">
      <app-confeccion-consulta [detalleConsulta]="auditoriaConfeccion"></app-confeccion-consulta>
    </mat-tab>
    <mat-tab label="Procesos">
      <app-procesos-consulta [detalleConsulta]="auditoriaProcesos"></app-procesos-consulta>
    </mat-tab>
    <mat-tab label="Lavandería">
      <app-lavanderia-consulta [detalleConsulta]="auditoriaLavanderia"></app-lavanderia-consulta>
    </mat-tab>
    <mat-tab label="Terminado">
      <app-terminado-consulta [detalleConsulta]="auditoriaTerminado"></app-terminado-consulta>
    </mat-tab>
    <mat-tab label="Resumen">
      <app-resumen-consulta></app-resumen-consulta>
    </mat-tab>
  </mat-tab-group>
</div>
